In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# help(pd.Series)

In [5]:
myindex = ['USA','Canada','Mexico']

In [6]:
mydata = [1776,1867,1821]

In [12]:
myser = pd.Series(data=mydata)

In [13]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [9]:
type(myser)

pandas.core.series.Series

In [14]:
myser = pd.Series(data=mydata,index=myindex)

In [15]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [16]:
myser[0]

1776

In [17]:
myser['USA']

1776

In [18]:
ages = {'Sam':5,'Frank':10,'Spike':7}

In [19]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [20]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [21]:
sales_q1 = pd.Series(q1)

In [23]:
sales_q2 = pd.Series(q2)

In [24]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [25]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [26]:
sales_q1['Japan']

80

In [29]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [30]:
[1,2] * 2

[1, 2, 1, 2]

In [31]:
np.array([1,2]) * 2

array([2, 4])

In [32]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [33]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [34]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [35]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [36]:
sales_q1 + sales_q2

#Brazil ve Japan verileri her ikisinde de olmadığı için NaN verdi

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [44]:
first_half = sales_q1.add(sales_q2,fill_value=0)

#boş verileri bu fonksiyon ile tamamlıyoruz

In [38]:
sales_q1.dtype

dtype('int64')

In [45]:
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [41]:
first_half.dtype

dtype('float64')