In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'ahmetumitcaliskan@email.com'

In [4]:
email.split('@')

['ahmetumitcaliskan', 'email.com']

In [6]:
names = pd.Series(['andrew','bob','claire','david','5'])

In [7]:
names

0    andrew
1       bob
2    claire
3     david
4         5
dtype: object

In [8]:
names.str.upper()

0    ANDREW
1       BOB
2    CLAIRE
3     DAVID
4         5
dtype: object

In [10]:
email.isdigit()

False

In [11]:
'5'.isdigit()

True

In [12]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [13]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [14]:
len(tech_finance)

2

In [15]:
tickers = pd.Series(tech_finance)

In [18]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [20]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [21]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [22]:
messy_names = pd.Series(['andrew  ',"bo;bo","   claire   "])

In [23]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [27]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [28]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [30]:
messy_names.apply(cleanup)

#faster than str

0    Andrew
1      Bobo
2    Claire
dtype: object